<h2>New Tech Program Entry</h2>

<form action="/program/add" method="post">
 
  <div>
    <label class="form-label">Name</label>
    <input type="text" class="form-control">
  </div>

  <div>
    <label class="form-label">Affliation</label>
    <input type="text" class="form-control">
  </div>

  <div>
    <label class="form-label">Established</label>
    <input type="date" class="form-control">
  </div>

  <div>
    <button type="submit" class="btn btn-primary mt-2">Save Program</button>
  </div>

</form>