@model List<CollegeProgram>
<a  class ="btn btn-success" href="/program/add"><i class="bi bi-plus"></i> New Tech Program</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Affiliation</th>
      <th scope="col">Started</th>
    </tr>
  </thead>
  <tbody>
    @for (var i = 0; i < Model.Count; i++)
    {
        var college = Model[i];
        <tr>
            <th scope="row">@i</th>
            <td>@college.Name</td>
            <td>@college.Affiliation</td>
            <td>@college.Started</td>
        </tr>
    }
  </tbody>
</table>